* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
}

header {
  text-align: left;
  margin: 20px 20px;
}

h3 {
  font-family: 'Lobster', cursive;
}

#conv {
  font-family: 'Yanone Kaffeesatz', sans-serif;
	width: 100%;
	height: 300px;
	margin: 0 0 20px 0;
  padding: 5px;
  background-color: #fff;
  border: 2px dashed #ccc;
  overflow-y: scroll;
}

#chatDisplay {
  width: 45%;
  margin-left: 20px;
  float: left;
}

#imageView {
  width: 45%;
  height: 300px;
  margin: 0 20px 0 0;
  float: right;
}

#imageView img {
  width: 100%;
}

input.username {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: 1px #aaa solid;
  height: 20px;
  padding: 3px;
  margin-right: 5px;
}

input.chat {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border: 1px #aaa solid;
  height: 20px;
  padding: 3px;
  width: 400px;
}

.userInput {
  margin: 0 0 20px 20px;
  clear: both;
}

.cat {width:350px;}

